[Desktop Entry]
Categories=AudioVideo;
Comment=Voice note book
Exec=/usr/bin/deepin-voice-note %f
GenericName=Voice Notes
Icon=deepin-voice-note
Name=Voice Notes
StartupNotify=true
Terminal=false
TryExec=/usr/bin/deepin-voice-note
Type=Application
X-Deepin-Vendor=deepin

# Translations:
# Do not manually modify!

