@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?8c11op');
  src: url('fonts/icomoon.eot?8c11op#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?8c11op') format('truetype'), url('fonts/icomoon.woff?8c11op') format('woff'), url('fonts/icomoon.svg?8c11op#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 24px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* color: rgb(83, 96, 118); */
}

.icon-backcolor .path1:before {
  content: "\e900";
}

.icon-backcolor .path2:before {
  content: "\e901";
  margin-left: -1em;
}

.icon-backcolor .path3:before {
  content: "\e902";
  margin-left: -1em;
}

.icon-backcolor .path4:before {
  content: "\e903";
  margin-left: -1em;
}

.icon-backcolor .path5 {
  color: rgb(0, 0, 0, .1);
}

.icon-backcolor .path5:before {
  content: "\e904";
  margin-left: -1em;
}

.icon-backcolor .path6 {
  color: transparent;
}

.icon-backcolor .path6:before {
  content: "\e905";
  margin-left: -1em;
}

.icon-bold:before {
  content: "\e906";
}

.icon-down {
  padding-left: 3px;
  font-size: 10px;
}

.icon-down:before {
  content: "\e907";
}

.icon-italic:before {
  content: "\e908";
}

.icon-ol:before {
  content: "\e909";
}

.icon-ul:before {
  content: "\e90a";
}

.icon-strikethrough:before {
  content: "\e90b";
}

.icon-underline:before {
  content: "\e90c";
}

.icon-forecolor {
  font-size: 22px;
}

.icon-backcolor {
  font-size: 22px;
}

.icon-forecolor .path1:before {
  content: "\e90d";
}

.icon-forecolor .path2 {
  color: rgb(0, 0, 0, .1);
}

.icon-forecolor .path2:before {
  content: "\e90e";
  margin-left: -1em;
}

.icon-forecolor .path1 {
  color: #414D68;
}

.icon-forecolor .path3:before {
  content: "\e90f";
  margin-left: -1em;
}