body {
    padding: 0px;
    line-height: 1.7;
    font-family: 'Helvetica';
    background-color: transparent;
    color: rgba(65, 77, 104, 1)
}

.demo {
    padding: 12px 0;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: transparent!important;
}

.demo>div {
    display: inline-block;
    vertical-align: bottom;
}

.lr {
    float: right;
    margin: 0px 20px 0 0;
}

.li {
    background: rgba(0, 0, 0, 0.05);
    min-height: 30px;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.active {
    background: rgba(0, 129, 255, 0.5)!important;
}

.voicebtn {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #0183FF;
    margin: 0 20px 0 20px;
    cursor: pointer;
    overflow: hidden;
}

.voicebtn.play {
    background-image: url(./img/play.svg);
    background-size: contain;
}

.voicebtn.pause {
    background-image: url(./img/pause.svg);
    background-size: contain;
}

.title {
    color: rgba(0, 26, 46, 1);
    font-size: 14px!important;
    line-height: 16px;
}

.minute {
    color: rgba(138, 161, 180, 1);
    font-size: 12px!important;
    line-height: 12px;
    margin-top: 5px;
}

.time {
    color: rgba(65, 77, 104, 1);
    font-size: 12px!important;
    line-height: 12px;
}

.demo::selection {
    background: transparent!important;
}

.lf::selection {
    background: transparent!important;
}

.title::selection {
    background: transparent!important;
}

.minute::selection {
    background: transparent!important;
}

.time::selection {
    background: transparent!important;
}

/* 字体大小固定 */

.title span {
    font-size: 14px!important;
}

.minute span {
    font-size: 12px!important;
}

.time span {
    font-size: 12px!important;
}

.padtop {
    padding-top: 6px;
}

.translate {
    line-height: 20px;
    font-size: 12px;
}

.translate>p {
    /* padding: 10px 0; */
}

.translate>div {
    text-align: center;
    /* padding: 10px 0; */
}

.icon {
    height: 21px;
    position: relative;
}

.wifi-symbol {
    position: relative;
}

.wifi-circle {
    position: absolute;
    left: 0;
    top: 0;
}

.wifi-symbol .first {
    background-image: url(./img/play_voice1.svg);
    background-size: contain;
    width: 19px;
    height: 17px;
}

.wifi-symbol .second {
    background-image: url(./img/play_voice2.svg);
    background-size: contain;
    width: 19px;
    height: 17px;
}

.wifi-symbol .third {
    background-image: url(./img/play_voice3.svg);
    background-size: contain;
    width: 19px;
    height: 17px;
}

.wifi-symbol .four {
    background-image: url(./img/play_voice4.svg);
    background-size: contain;
    width: 19px;
    height: 17px;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        /*初始状态 透明度为0/
        }
        100% {
            opacity: 1; /*结尾状态 透明度为1*/
    }
}

.noselect {
    user-select: none;
    padding: 5px 20px 10px 20px;
}